<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all">
  <style>
    li > a{
      color:white;
    }
  </style>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  {% block css %}{% endblock %}
</head>

<body>
  <div class = "top_header" style="background-color: black;">
    <div class = "container" style="height:45px;">
      <div class = "row">
        <div class = "col-md-2 col-sm-2" style="background-color:red; height:50px; " >
          <center><h4 style="color:white; padding-top:6px;">HelpLine Number</h4></center>
        </div>
        <div class = "col-md-10 col-sm-10" >
          <marquee style="padding-top:10.5px; font-size:16px; color:white;">
            Help Rajasthan Police, SMS your grievance on 7738133133 or 7738144144, Police Control Room 100, Rajasthan Police Elder Line 1090, Traffic Whatsapp Helpline 8454999999, Alert Citizen 103
          </marquee>
        </div>
      </div>
    </div>
    <div style="height:5px; background-color:red; width:100%;">
    </div>
  </div>

  <div class = "logo_header" style="width:100%; height:180px; ">
    <div class = "container">
      <div class = "logo col-md-3 col-sm-3">
        <img src = "{% static 'images/Rajasthan-Police.jpg' %}" style="height:130px; margin-top:20px;">
      </div>
    </div>
  </div>


<!-- NAVBAR -->
  <div style="background-color:black;">
    <div class="container" >
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse" >
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="/">Home</a></li>
          <li class="dropdown"><a href="pressrelease.asp">Press release</a></li>
          <li class="dropdown"><a href="pressrelease.asp">Report a Crime</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">help us <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a href="downloads/Absconder.zip">Absconders List </a></li>
              <li><a href="cofeposa/Index.pdf">L.O.C. under Cofeposa   </a></li>
              <li><a href="downloads/CRB LIST.zip">Convicted Accused List  </a></li>
              <li><a href="tracedvehicles.asp">Unclaimed Vehicles List </a></li>
              <li><a href="deadbodies.asp">Unidentified Dead Bodies </a></li>

            </ul>
          </li>

          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">special units <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="crimebranch.asp">Crime Branch</a></li>
              <li><a href="crimebranch.asp#armed">Local Armed Police</a></li>
              <li><a href="crimebranch.asp#riot">Riot Control Police</a></li>
              <li><a href="quickresponceteam.asp">Quick Response Team</a></li>
              <li><a href="crimebranch.asp#traffic">Traffic</a></li>
              <li><a href="crimebranch.asp#economic">Economic Offences Wing</a></li>
              <li><a href="crimebranch.asp#enforcement">Enforcement Branch</a></li>
              <li><a href="crimebranch.asp#japu">Juvenile Aid Protection Unit</a></li>
              <li><a href="crimebranch.asp#antnc">Anti-Norcotics Cell</a></li>
              <li><a href="antiextortioncell.asp">Anti-Extortion Cell</a></li>
              <li><a href="crimebranch.asp#preventive">Preventive Branch</a></li>
              <li><a href="modusoperandibureau.asp">Modus Operandi Bureau</a></li>
              <li><a href="missingpersonsbureau.asp">Missing Persons Bureau</a></li>
              <li><a href="antiterrorismsquad.asp">Anti Terrorism Squad</a></li>
              <li><a href="specialbranch.asp">Special Branch</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">safety tips<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="residential.asp">Residential </a></li>
              <li><a href="commercial.asp">Commercial </a></li>
              <li><a href="vehicletheft.asp">Vehicle Theft </a></li>

              <li><a href="physicalsecurity.asp">Physical Security Measures </a></li>
              <li><a href="property.asp">Property Purchase </a></li>
              <li><a href="banking.asp">Banking Precautions </a></li>
              <li><a href="gulf.asp">Gulf Jobs  </a></li>
              <li><a href="fraudmoney.asp">Fraud Money Schemes </a></li>
              <li><a href="emergency.asp">Emergency Situation  </a></li>
              <li><a href="seniorsafety.asp">Senior Citizen's Safety  </a></li>
              <li><a href="citizencharter.asp">Citizens' Charter  </a></li>
              <li><a href="dosanddonts.asp">Do's &amp; Don'ts </a></li>
              <li><a href="womensafety.asp">Children &amp; Women Safety </a></li>

            </ul>
          </li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Initiatives<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="../initiatives_virtualnw.asp?type=virtual#virtual">Virtual Private Network </a></li>
              <li><a href="../initiatives_virtualnw.asp?type=zopadpatti#zopadpatti">Zopadpatti Panchayat</a></li>
              <li><a href="initiatives_sat_meeting.asp">Saturday Police Station Meetings  </a></li>
              <li><a href="initiatives_rehabilitation.asp">Rehabilitation   </a></li>
              <li><a href="elderline.asp">Elder Line  </a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="downloads/Licensingunitheading.pdf">licensing unit</a></li>
          <li class="dropdown"><a href="downloads.asp">downloads</a></li>

          <li class="dropdown"> <a href="contact.asp" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">contact us<span class="caret"></span></a>
            <ul class="dropdown-menu">

              <li><a href="Senior Officers.pdf">Senior Officer's Contact Details </a></li>
              <li><a href="complaint.asp">Lodge a Complaint </a></li>
              <li><a href="falsecomplaint.asp">False Complaint </a></li>
              <li><a href="emergencynumbers.asp">Emergency Numbers</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
<!-- NAVBAR -->

<style>
.block{
  background-color: red;
  height:200px;
  margin-bottom: 10px;
  margin-right:10px;
}

</style>
<br><br>
<div class = "container">
  <div class = "col-md-9 col-sm-9">
    <div class = "row">
        <div class = "col-md-3 col-sm-3 block">
        </div>
        <div class = "col-md-3 col-sm-3 block">
        </div>
        <div class = "col-md-3 col-sm-3 block">
        </div>
    </div>
    <div class = "row">
      <div class = "col-md-3 col-sm-3 block">
      </div>
      <div class = "col-md-3 col-sm-3 block">
      </div>
      <div class = "col-md-3 col-sm-3 block">
      </div>
    </div>
  </div>

  <div class = "col-md-3 col-sm-3" style=" height:500px; border-style: solid; border-width:0 0 0 2px; border-color:black;">
      <div class = "col-md-12">
        <a class="twitter-timeline"
        href="https://twitter.com/policerajasthan">
      Tweets by @policerajasthan
      </a>
      </div>
  </div>
</div>








<!-- Footer -->
<div class = "footer-body" style="background-color:black; height:300px; width:100%;">
  <div class = "container-fluid">
    <div class = "col-md-4 col-sm-4 col-xs-4">

    </div>
    <div class = "col-md-4 col-sm-4 col-xs-4">
    </div>
    <div class = "col-md-4 col-sm-4 col-xs-4">
    </div>
  </div>
</div>
<!-- Footer -->

  <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/handlebars-v1.3.0.js" %}" type="text/javascript"></script>
  <script>
  // Dropdown Menu Fade
  jQuery(document).ready(function(){
    $(".dropdown").hover(
      function() { $('.dropdown-menu', this).fadeIn("fast");
    },
    function() { $('.dropdown-menu', this).fadeOut("fast");
  });

  twttr.widgets.createTimeline(
  {
    sourceType: "profile",
    screenName: "TwitterDev"
  },
  document.getElementById("container")
);
});
</script>
{% block extra_js %}{% endblock %}
</body>

</html>
