{% extends "citizen/base_site.html" %}

{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- bootstrap-wysiwyg -->
    <link href="/static/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">

<div class="row">
  <div class="top-bar column align-center">
    <h5>Services</h5>
  </div>
</div>

    <div class="col-lg-8 rgt_container pad-lf0">
            <div class="part1">
              <h2><span>welcome</span> </h2>
              <div class="media">

                <div class="media-left"> <img class="media-object" src="images/police_img.jpg" alt="Generic placeholder image">
                  <div class="hover"> Datta Padsalgikar ( I.P.S )<br>
                    Commissioner of Police, Mumbai </div>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Our Mission</h4>
                  <p>Mumbai Police shall ensure the Rule of Law, enforce the law of the land impartially and firmly without fear or favour, and strive to create a fear free environment that is conducive to growth and development. </p>
                  <p>Mumbai Police will remain committed to maintaining public order, preventing and detecting crime, maintaining and promoting communal harmony, ensuring a smooth flow of traffic, and taking strong action against terrorism, organized crime, anti-social / illicit activities / elements </p>
                  <a href="ourmission.asp" class="read_btn"> read more </a> </div>
              </div>
            </div>
            <div class="part2">
              <h2><span>services</span> </h2>
              <div class="services_listing">
                <div class="list1">
                  <div class="col-lg-4 padding0 hover_effect">
                    <div class="zoom-effect-container">
                      <div class="image-card"> <a href="passportstatus.asp"><img src="images/img1.png"> </a></div>
                    </div>
                    <a href="passportstatus.asp"><span>Passport Status</span></a> </div>
                  <div class="col-lg-4 padding0 hover_effect">
                    <div class="zoom-effect-container">
                      <div class="image-card"> <a href="stolenvehicle.asp"><img src="images/img2.png"></a> </div>
                    </div>
                    <a href="stolenvehicle.asp"><span>Stolen Vehicles</span></a> </div>
                  <div class="col-lg-4 padding0 hover_effect">
                    <div class="zoom-effect-container">
                      <div class="image-card"> <a href="Missing.asp"><img src="images/img3.png"></a> </div>
                    </div>
                    <a href="Missing.asp"><span>Missing Persons</span></a> </div>
                </div>
                <div class="clearfix"> </div>
                <div class="list2">
                  <div class="col-lg-4 padding0 hover_effect">
                    <div class="zoom-effect-container">
                      <div class="image-card"> <a href="photo1.asp"><img src="images/img4.png"> <img class="image-blink-amit-singh" src="images/new.gif"></a> </div>
                    </div>
<!--<a href="photo1.asp"><span>Photo Gallery/Videos</span></a></div>-->
                  <a href="photo1.asp"><span>Photo Gallery/</span></a><a href="video1.asp"><span>Videos</span></a></div>
                  <div class="col-lg-4 padding0 hover_effect">
                    <div class="zoom-effect-container">
                      <div class="image-card"> <a href="zonevisit.asp"> <img src="images/img5.png"></a> </div>
                    </div>
                    <a href="zonevisit.asp"><span>DCP Visits</span> </a></div>
                  <div class="col-lg-4 padding0 hover_effect">
                    <div class="zoom-effect-container">
                      <div class="image-card"> <a href="https://pcs.mahaonline.gov.in/"><img src="images/img6.png">  <img class="image-blink-amit-singh" src="images/new.gif"></a></div>
                    </div>
                    <a href="https://pcs.mahaonline.gov.in/" title="Mumbai Police Verification Unit"><span>Verification Unit</span></a></div>
                </div>
              </div>
            </div>
          </div>


  </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
